node_modules

api-gateway/.env
api-gateway/node_modules

orders-service/.env
orders-service/node_modules

products-service/.env
products-service/node_modules

user-service/.env
user-service/node_modules